
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Healthy Diet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/admin-login">Login</a>
      <a class="nav-item nav-link" href="/admin_register">Register</a>
  
      <a class="nav-item nav-link" href="/admin-logout">Logout</a>
      <a class="nav-item nav-link" href="/add_ingredient">Add Ingredient</a>
      <a class="nav-item nav-link" href="/add_recipie">Add Recipie</a>
      <a class="nav-item nav-link" href="/add_meals">Add Meals</a>
      <a class="nav-item nav-link" href="/add_days">Add Days</a>
      <a class="nav-item nav-link" href="/get-ingredients">Get Ingredient</a>
      <a class="nav-item nav-link" href="/get-recipies">Get Recipie</a>
      <a class="nav-item nav-link" href="/get-meals">Get Meals</a>
      <a class="nav-item nav-link" href="/get-days">Get Days</a>
    </div>
  </div>
</nav>